<!DOCTYPE html>
<html>
<head>
	<title>Math Result</title>
</head>
<body>
	<h1>Math Result</h1>
	<p>The result of <br>
          <%= num1 %><br>
          <%= mathOperation %><br>
          <%= num2 %><br>
          <br>
          is: <%= result %></p>

</body>
</html>